## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

app_df = application_df.drop(columns=["EIN", "NAME"])
app_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.

app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning

application_counts = app_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# application_types_to_replace = ["T9", "T13", "T12", "T2", "T25", "T14", "T29", "T15", "T17"]
application_types_to_replace = []
for index, val in application_counts.items():
    if val <= 500:
        application_types_to_replace.append(index)

# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_count = app_df["CLASSIFICATION"].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1580        1
C2170        1
C6100        1
C1732        1
C1370        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
app_df["CLASSIFICATION"].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C2400        6
C4100        6
C1720        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1256        2
C1246        2
C3200        2
C1267        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = []
for index, val in class_count.items():
    if val <= 1000:
        classifications_to_replace.append(index)


# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`

num_df = pd.get_dummies(app_df)
num_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [15]:
# Split our preprocessed data into our features and target arrays

y = num_df["IS_SUCCESSFUL"]
X = num_df.drop("IS_SUCCESSFUL", axis=1)


# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [17]:
X.shape

(34299, 43)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu", input_dim=43))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 5)                 220

 dense_4 (Dense)             (None, 5)                 30

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 256
Trainable params: 256
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model

nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
# Train the model

fit_model = nn_model.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
804/804 [==============================] - 1s 683us/step - loss: 0.6144 - accuracy: 0.6834
Epoch 2/200
804/804 [==============================] - 1s 675us/step - loss: 0.5714 - accuracy: 0.7148
Epoch 3/200
804/804 [==============================] - 1s 675us/step - loss: 0.5647 - accuracy: 0.7209
Epoch 4/200
804/804 [==============================] - 1s 674us/step - loss: 0.5610 - accuracy: 0.7236
Epoch 5/200
804/804 [==============================] - 1s 699us/step - loss: 0.5585 - accuracy: 0.7252
Epoch 6/200
804/804 [==============================] - 1s 682us/step - loss: 0.5572 - accuracy: 0.7256
Epoch 7/200
804/804 [==============================] - 1s 728us/step - loss: 0.5564 - accuracy: 0.7257
Epoch 8/200
804/804 [==============================] - 1s 700us/step - loss: 0.5554 - accuracy: 0.7267
Epoch 9/200
804/804 [==============================] - 1s 920us/step - loss: 0.5551 - accuracy: 0.7271
Epoch 10/200
804/804 [==============================] - 1s 714us/step - loss: 0.5539 - accuracy: 0.7274
Epoch 11/200
804/804 [==============================] - 1s 767us/step - loss: 0.5537 - accuracy: 0.7263
Epoch 12/200
804/804 [==============================] - 1s 824us/step - loss: 0.5533 - accuracy: 0.7268
Epoch 13/200
804/804 [==============================] - 1s 877us/step - loss: 0.5524 - accuracy: 0.7275
Epoch 14/200
804/804 [==============================] - 1s 759us/step - loss: 0.5523 - accuracy: 0.7278
Epoch 15/200
804/804 [==============================] - 1s 749us/step - loss: 0.5517 - accuracy: 0.7327
Epoch 16/200
804/804 [==============================] - 1s 711us/step - loss: 0.5517 - accuracy: 0.7327
Epoch 17/200
804/804 [==============================] - 1s 674us/step - loss: 0.5512 - accuracy: 0.7325
Epoch 18/200
804/804 [==============================] - 1s 695us/step - loss: 0.5510 - accuracy: 0.7332
Epoch 19/200
804/804 [==============================] - 1s 678us/step - loss: 0.5511 - accuracy: 0.7328
Epoch 20/200
804/804 [==============================] - 1s 739us/step - loss: 0.5506 - accuracy: 0.7325
Epoch 21/200
804/804 [==============================] - 1s 668us/step - loss: 0.5503 - accuracy: 0.7323
Epoch 22/200
804/804 [==============================] - 1s 671us/step - loss: 0.5505 - accuracy: 0.7323
Epoch 23/200
804/804 [==============================] - 1s 660us/step - loss: 0.5502 - accuracy: 0.7331
Epoch 24/200
804/804 [==============================] - 1s 662us/step - loss: 0.5502 - accuracy: 0.7329
Epoch 25/200
804/804 [==============================] - 1s 662us/step - loss: 0.5501 - accuracy: 0.7320
Epoch 26/200
804/804 [==============================] - 1s 667us/step - loss: 0.5501 - accuracy: 0.7327
Epoch 27/200
804/804 [==============================] - 1s 666us/step - loss: 0.5500 - accuracy: 0.7329
Epoch 28/200
804/804 [==============================] - 1s 665us/step - loss: 0.5497 - accuracy: 0.7333
Epoch 29/200
804/804 [==============================] - 1s 663us/step - loss: 0.5498 - accuracy: 0.7325
Epoch 30/200
804/804 [==============================] - 1s 667us/step - loss: 0.5495 - accuracy: 0.7330
Epoch 31/200
804/804 [==============================] - 1s 666us/step - loss: 0.5493 - accuracy: 0.7331
Epoch 32/200
804/804 [==============================] - 1s 668us/step - loss: 0.5495 - accuracy: 0.7328
Epoch 33/200
804/804 [==============================] - 1s 672us/step - loss: 0.5493 - accuracy: 0.7330
Epoch 34/200
804/804 [==============================] - 1s 681us/step - loss: 0.5493 - accuracy: 0.7327
Epoch 35/200
804/804 [==============================] - 1s 684us/step - loss: 0.5494 - accuracy: 0.7324
Epoch 36/200
804/804 [==============================] - 1s 680us/step - loss: 0.5491 - accuracy: 0.7326
Epoch 37/200
804/804 [==============================] - 1s 684us/step - loss: 0.5491 - accuracy: 0.7323
Epoch 38/200
804/804 [==============================] - 1s 682us/step - loss: 0.5491 - accuracy: 0.7329
Epoch 39/200
804/804 [==============================] - 1s 681us/step - loss: 0.5491 - accuracy: 0.7330
Epoch 40/200
804/804 [==============================] - 1s 680us/step - loss: 0.5489 - accuracy: 0.7333
Epoch 41/200
804/804 [==============================] - 1s 745us/step - loss: 0.5489 - accuracy: 0.7336
Epoch 42/200
804/804 [==============================] - 1s 699us/step - loss: 0.5485 - accuracy: 0.7336
Epoch 43/200
804/804 [==============================] - 1s 685us/step - loss: 0.5488 - accuracy: 0.7333
Epoch 44/200
804/804 [==============================] - 1s 685us/step - loss: 0.5487 - accuracy: 0.7329
Epoch 45/200
804/804 [==============================] - 1s 704us/step - loss: 0.5483 - accuracy: 0.7336
Epoch 46/200
804/804 [==============================] - 1s 729us/step - loss: 0.5488 - accuracy: 0.7336
Epoch 47/200
804/804 [==============================] - 1s 759us/step - loss: 0.5485 - accuracy: 0.7324
Epoch 48/200
804/804 [==============================] - 1s 837us/step - loss: 0.5486 - accuracy: 0.7325
Epoch 49/200
804/804 [==============================] - 1s 846us/step - loss: 0.5485 - accuracy: 0.7335
Epoch 50/200
804/804 [==============================] - 1s 844us/step - loss: 0.5485 - accuracy: 0.7338
Epoch 51/200
804/804 [==============================] - 1s 868us/step - loss: 0.5484 - accuracy: 0.7333
Epoch 52/200
804/804 [==============================] - 1s 850us/step - loss: 0.5483 - accuracy: 0.7332
Epoch 53/200
804/804 [==============================] - 1s 807us/step - loss: 0.5485 - accuracy: 0.7332
Epoch 54/200
804/804 [==============================] - 1s 873us/step - loss: 0.5486 - accuracy: 0.7335
Epoch 55/200
804/804 [==============================] - 1s 859us/step - loss: 0.5485 - accuracy: 0.7334
Epoch 56/200
804/804 [==============================] - 1s 882us/step - loss: 0.5484 - accuracy: 0.7327
Epoch 57/200
804/804 [==============================] - 1s 816us/step - loss: 0.5480 - accuracy: 0.7331
Epoch 58/200
804/804 [==============================] - 1s 913us/step - loss: 0.5483 - accuracy: 0.7342
Epoch 59/200
804/804 [==============================] - 1s 834us/step - loss: 0.5481 - accuracy: 0.7332
Epoch 60/200
804/804 [==============================] - 1s 821us/step - loss: 0.5481 - accuracy: 0.7333
Epoch 61/200
804/804 [==============================] - 1s 825us/step - loss: 0.5484 - accuracy: 0.7339
Epoch 62/200
804/804 [==============================] - 1s 784us/step - loss: 0.5481 - accuracy: 0.7334
Epoch 63/200
804/804 [==============================] - 1s 745us/step - loss: 0.5481 - accuracy: 0.7338
Epoch 64/200
804/804 [==============================] - 1s 764us/step - loss: 0.5483 - accuracy: 0.7324
Epoch 65/200
804/804 [==============================] - 1s 732us/step - loss: 0.5480 - accuracy: 0.7335
Epoch 66/200
804/804 [==============================] - 1s 745us/step - loss: 0.5482 - accuracy: 0.7340
Epoch 67/200
804/804 [==============================] - 1s 729us/step - loss: 0.5481 - accuracy: 0.7337
Epoch 68/200
804/804 [==============================] - 1s 713us/step - loss: 0.5481 - accuracy: 0.7338
Epoch 69/200
804/804 [==============================] - 1s 708us/step - loss: 0.5479 - accuracy: 0.7336
Epoch 70/200
804/804 [==============================] - 1s 745us/step - loss: 0.5482 - accuracy: 0.7334
Epoch 71/200
804/804 [==============================] - 1s 736us/step - loss: 0.5478 - accuracy: 0.7342
Epoch 72/200
804/804 [==============================] - 1s 724us/step - loss: 0.5479 - accuracy: 0.7336
Epoch 73/200
804/804 [==============================] - 1s 727us/step - loss: 0.5480 - accuracy: 0.7329
Epoch 74/200
804/804 [==============================] - 1s 729us/step - loss: 0.5480 - accuracy: 0.7341
Epoch 75/200
804/804 [==============================] - 1s 727us/step - loss: 0.5477 - accuracy: 0.7343
Epoch 76/200
804/804 [==============================] - 1s 716us/step - loss: 0.5480 - accuracy: 0.7330
Epoch 77/200
804/804 [==============================] - 1s 733us/step - loss: 0.5477 - accuracy: 0.7334
Epoch 78/200
804/804 [==============================] - 1s 744us/step - loss: 0.5476 - accuracy: 0.7337
Epoch 79/200
804/804 [==============================] - 1s 724us/step - loss: 0.5477 - accuracy: 0.7341
Epoch 80/200
804/804 [==============================] - 1s 735us/step - loss: 0.5477 - accuracy: 0.7338
Epoch 81/200
804/804 [==============================] - 1s 724us/step - loss: 0.5476 - accuracy: 0.7337
Epoch 82/200
804/804 [==============================] - 1s 713us/step - loss: 0.5477 - accuracy: 0.7338
Epoch 83/200
804/804 [==============================] - 1s 718us/step - loss: 0.5476 - accuracy: 0.7332
Epoch 84/200
804/804 [==============================] - 1s 718us/step - loss: 0.5476 - accuracy: 0.7334
Epoch 85/200
804/804 [==============================] - 1s 703us/step - loss: 0.5476 - accuracy: 0.7337
Epoch 86/200
804/804 [==============================] - 1s 701us/step - loss: 0.5476 - accuracy: 0.7342
Epoch 87/200
804/804 [==============================] - 1s 692us/step - loss: 0.5477 - accuracy: 0.7343
Epoch 88/200
804/804 [==============================] - 1s 699us/step - loss: 0.5475 - accuracy: 0.7343
Epoch 89/200
804/804 [==============================] - 1s 719us/step - loss: 0.5477 - accuracy: 0.7333
Epoch 90/200
804/804 [==============================] - 1s 735us/step - loss: 0.5477 - accuracy: 0.7345
Epoch 91/200
804/804 [==============================] - 1s 714us/step - loss: 0.5474 - accuracy: 0.7339
Epoch 92/200
804/804 [==============================] - 1s 720us/step - loss: 0.5476 - accuracy: 0.7342
Epoch 93/200
804/804 [==============================] - 1s 704us/step - loss: 0.5474 - accuracy: 0.7338
Epoch 94/200
804/804 [==============================] - 1s 739us/step - loss: 0.5477 - accuracy: 0.7344
Epoch 95/200
804/804 [==============================] - 1s 700us/step - loss: 0.5475 - accuracy: 0.7343
Epoch 96/200
804/804 [==============================] - 1s 770us/step - loss: 0.5474 - accuracy: 0.7331
Epoch 97/200
804/804 [==============================] - 1s 719us/step - loss: 0.5474 - accuracy: 0.7339
Epoch 98/200
804/804 [==============================] - 1s 714us/step - loss: 0.5474 - accuracy: 0.7343
Epoch 99/200
804/804 [==============================] - 1s 768us/step - loss: 0.5474 - accuracy: 0.7346
Epoch 100/200
804/804 [==============================] - 1s 719us/step - loss: 0.5474 - accuracy: 0.7345
Epoch 101/200
804/804 [==============================] - 1s 720us/step - loss: 0.5474 - accuracy: 0.7344
Epoch 102/200
804/804 [==============================] - 1s 720us/step - loss: 0.5473 - accuracy: 0.7338
Epoch 103/200
804/804 [==============================] - 1s 719us/step - loss: 0.5473 - accuracy: 0.7337
Epoch 104/200
804/804 [==============================] - 1s 721us/step - loss: 0.5474 - accuracy: 0.7338
Epoch 105/200
804/804 [==============================] - 1s 719us/step - loss: 0.5474 - accuracy: 0.7338
Epoch 106/200
804/804 [==============================] - 1s 700us/step - loss: 0.5477 - accuracy: 0.7338
Epoch 107/200
804/804 [==============================] - 1s 710us/step - loss: 0.5473 - accuracy: 0.7339
Epoch 108/200
804/804 [==============================] - 1s 705us/step - loss: 0.5474 - accuracy: 0.7349
Epoch 109/200
804/804 [==============================] - 1s 699us/step - loss: 0.5475 - accuracy: 0.7342
Epoch 110/200
804/804 [==============================] - 1s 699us/step - loss: 0.5471 - accuracy: 0.7342
Epoch 111/200
804/804 [==============================] - 1s 717us/step - loss: 0.5474 - accuracy: 0.7335
Epoch 112/200
804/804 [==============================] - 1s 705us/step - loss: 0.5472 - accuracy: 0.7337
Epoch 113/200
804/804 [==============================] - 1s 699us/step - loss: 0.5472 - accuracy: 0.7341
Epoch 114/200
804/804 [==============================] - 1s 759us/step - loss: 0.5475 - accuracy: 0.7338
Epoch 115/200
804/804 [==============================] - 1s 711us/step - loss: 0.5472 - accuracy: 0.7341
Epoch 116/200
804/804 [==============================] - 1s 710us/step - loss: 0.5471 - accuracy: 0.7347
Epoch 117/200
804/804 [==============================] - 1s 706us/step - loss: 0.5474 - accuracy: 0.7343
Epoch 118/200
804/804 [==============================] - 1s 700us/step - loss: 0.5475 - accuracy: 0.7336
Epoch 119/200
804/804 [==============================] - 1s 699us/step - loss: 0.5473 - accuracy: 0.7343
Epoch 120/200
804/804 [==============================] - 1s 725us/step - loss: 0.5472 - accuracy: 0.7343
Epoch 121/200
804/804 [==============================] - 1s 714us/step - loss: 0.5472 - accuracy: 0.7342
Epoch 122/200
804/804 [==============================] - 1s 778us/step - loss: 0.5471 - accuracy: 0.7345
Epoch 123/200
804/804 [==============================] - 1s 769us/step - loss: 0.5474 - accuracy: 0.7342
Epoch 124/200
804/804 [==============================] - 1s 777us/step - loss: 0.5472 - accuracy: 0.7334
Epoch 125/200
804/804 [==============================] - 1s 797us/step - loss: 0.5472 - accuracy: 0.7343
Epoch 126/200
804/804 [==============================] - 1s 768us/step - loss: 0.5471 - accuracy: 0.7345
Epoch 127/200
804/804 [==============================] - 1s 784us/step - loss: 0.5471 - accuracy: 0.7334
Epoch 128/200
804/804 [==============================] - 1s 765us/step - loss: 0.5471 - accuracy: 0.7338
Epoch 129/200
804/804 [==============================] - 1s 782us/step - loss: 0.5470 - accuracy: 0.7343
Epoch 130/200
804/804 [==============================] - 1s 755us/step - loss: 0.5472 - accuracy: 0.7339
Epoch 131/200
804/804 [==============================] - 1s 748us/step - loss: 0.5470 - accuracy: 0.7338
Epoch 132/200
804/804 [==============================] - 1s 756us/step - loss: 0.5471 - accuracy: 0.7346
Epoch 133/200
804/804 [==============================] - 1s 746us/step - loss: 0.5472 - accuracy: 0.7341
Epoch 134/200
804/804 [==============================] - 1s 729us/step - loss: 0.5469 - accuracy: 0.7338
Epoch 135/200
804/804 [==============================] - 1s 733us/step - loss: 0.5471 - accuracy: 0.7334
Epoch 136/200
804/804 [==============================] - 1s 758us/step - loss: 0.5471 - accuracy: 0.7339
Epoch 137/200
804/804 [==============================] - 1s 775us/step - loss: 0.5471 - accuracy: 0.7348
Epoch 138/200
804/804 [==============================] - 1s 783us/step - loss: 0.5470 - accuracy: 0.7342
Epoch 139/200
804/804 [==============================] - 1s 765us/step - loss: 0.5472 - accuracy: 0.7343
Epoch 140/200
804/804 [==============================] - 1s 787us/step - loss: 0.5470 - accuracy: 0.7343
Epoch 141/200
804/804 [==============================] - 1s 784us/step - loss: 0.5470 - accuracy: 0.7342
Epoch 142/200
804/804 [==============================] - 1s 746us/step - loss: 0.5470 - accuracy: 0.7339
Epoch 143/200
804/804 [==============================] - 1s 735us/step - loss: 0.5472 - accuracy: 0.7342
Epoch 144/200
804/804 [==============================] - 1s 726us/step - loss: 0.5470 - accuracy: 0.7334
Epoch 145/200
804/804 [==============================] - 1s 729us/step - loss: 0.5469 - accuracy: 0.7343
Epoch 146/200
804/804 [==============================] - 1s 804us/step - loss: 0.5471 - accuracy: 0.7346
Epoch 147/200
804/804 [==============================] - 1s 779us/step - loss: 0.5470 - accuracy: 0.7338
Epoch 148/200
804/804 [==============================] - 1s 785us/step - loss: 0.5465 - accuracy: 0.7347
Epoch 149/200
804/804 [==============================] - 1s 758us/step - loss: 0.5474 - accuracy: 0.7341
Epoch 150/200
804/804 [==============================] - 1s 802us/step - loss: 0.5467 - accuracy: 0.7341
Epoch 151/200
804/804 [==============================] - 1s 790us/step - loss: 0.5473 - accuracy: 0.7338
Epoch 152/200
804/804 [==============================] - 1s 774us/step - loss: 0.5470 - accuracy: 0.7339
Epoch 153/200
804/804 [==============================] - 1s 737us/step - loss: 0.5470 - accuracy: 0.7344
Epoch 154/200
804/804 [==============================] - 1s 736us/step - loss: 0.5470 - accuracy: 0.7343
Epoch 155/200
804/804 [==============================] - 1s 727us/step - loss: 0.5469 - accuracy: 0.7338
Epoch 156/200
804/804 [==============================] - 1s 724us/step - loss: 0.5470 - accuracy: 0.7345
Epoch 157/200

804/804 [==============================] - 1s 735us/step - loss: 0.5467 - accuracy: 0.7339
Epoch 158/200
804/804 [==============================] - 1s 739us/step - loss: 0.5469 - accuracy: 0.7352
Epoch 159/200
804/804 [==============================] - 1s 743us/step - loss: 0.5468 - accuracy: 0.7331
Epoch 160/200
804/804 [==============================] - 1s 739us/step - loss: 0.5470 - accuracy: 0.7352
Epoch 161/200
804/804 [==============================] - 1s 743us/step - loss: 0.5470 - accuracy: 0.7340
Epoch 162/200
804/804 [==============================] - 1s 748us/step - loss: 0.5470 - accuracy: 0.7346
Epoch 163/200
804/804 [==============================] - 1s 760us/step - loss: 0.5468 - accuracy: 0.7341
Epoch 164/200
804/804 [==============================] - 1s 720us/step - loss: 0.5469 - accuracy: 0.7341
Epoch 165/200
804/804 [==============================] - 1s 752us/step - loss: 0.5468 - accuracy: 0.7343
Epoch 166/200
804/804 [==============================] - 1s 790us/step - loss: 0.5469 - accuracy: 0.7347
Epoch 167/200
804/804 [==============================] - 1s 743us/step - loss: 0.5469 - accuracy: 0.7341
Epoch 168/200
804/804 [==============================] - 1s 735us/step - loss: 0.5471 - accuracy: 0.7348
Epoch 169/200
804/804 [==============================] - 1s 722us/step - loss: 0.5468 - accuracy: 0.7344
Epoch 170/200
804/804 [==============================] - 1s 738us/step - loss: 0.5469 - accuracy: 0.7338
Epoch 171/200
804/804 [==============================] - 1s 745us/step - loss: 0.5469 - accuracy: 0.7346
Epoch 172/200
804/804 [==============================] - 1s 751us/step - loss: 0.5469 - accuracy: 0.7346
Epoch 173/200
804/804 [==============================] - 1s 723us/step - loss: 0.5468 - accuracy: 0.7344
Epoch 174/200
804/804 [==============================] - 1s 732us/step - loss: 0.5470 - accuracy: 0.7337
Epoch 175/200
804/804 [==============================] - 1s 705us/step - loss: 0.5468 - accuracy: 0.7344
Epoch 176/200
804/804 [==============================] - 1s 726us/step - loss: 0.5469 - accuracy: 0.7343
Epoch 177/200
804/804 [==============================] - 1s 730us/step - loss: 0.5469 - accuracy: 0.7352
Epoch 178/200
804/804 [==============================] - 1s 729us/step - loss: 0.5468 - accuracy: 0.7352
Epoch 179/200
804/804 [==============================] - 1s 734us/step - loss: 0.5470 - accuracy: 0.7341
Epoch 180/200
804/804 [==============================] - 1s 726us/step - loss: 0.5468 - accuracy: 0.7347
Epoch 181/200
804/804 [==============================] - 1s 743us/step - loss: 0.5468 - accuracy: 0.7341
Epoch 182/200
804/804 [==============================] - 1s 747us/step - loss: 0.5470 - accuracy: 0.7334
Epoch 183/200
804/804 [==============================] - 1s 753us/step - loss: 0.5467 - accuracy: 0.7345
Epoch 184/200
804/804 [==============================] - 1s 750us/step - loss: 0.5470 - accuracy: 0.7342
Epoch 185/200
804/804 [==============================] - 1s 747us/step - loss: 0.5469 - accuracy: 0.7346
Epoch 186/200
804/804 [==============================] - 1s 768us/step - loss: 0.5468 - accuracy: 0.7345
Epoch 187/200
804/804 [==============================] - 1s 767us/step - loss: 0.5467 - accuracy: 0.7336
Epoch 188/200
804/804 [==============================] - 1s 752us/step - loss: 0.5468 - accuracy: 0.7345
Epoch 189/200
804/804 [==============================] - 1s 750us/step - loss: 0.5467 - accuracy: 0.7346
Epoch 190/200
804/804 [==============================] - 1s 765us/step - loss: 0.5468 - accuracy: 0.7337
Epoch 191/200
804/804 [==============================] - 1s 758us/step - loss: 0.5469 - accuracy: 0.7341
Epoch 192/200
804/804 [==============================] - 1s 742us/step - loss: 0.5467 - accuracy: 0.7345
Epoch 193/200
804/804 [==============================] - 1s 757us/step - loss: 0.5467 - accuracy: 0.7348
Epoch 194/200
804/804 [==============================] - 1s 737us/step - loss: 0.5467 - accuracy: 0.7337
Epoch 195/200
804/804 [==============================] - 1s 747us/step - loss: 0.5467 - accuracy: 0.7340
Epoch 196/200
804/804 [==============================] - 1s 767us/step - loss: 0.5467 - accuracy: 0.7346
Epoch 197/200
804/804 [==============================] - 1s 746us/step - loss: 0.5468 - accuracy: 0.7338
Epoch 198/200
804/804 [==============================] - 1s 746us/step - loss: 0.5466 - accuracy: 0.7339
Epoch 199/200
804/804 [==============================] - 1s 768us/step - loss: 0.5467 - accuracy: 0.7350
Epoch 200/200
804/804 [==============================] - 1s 742us/step - loss: 0.5468 - accuracy: 0.7350

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5566 - accuracy: 0.7292 - 224ms/epoch - 836us/step
Loss: 0.5565784573554993, Accuracy: 0.7292128205299377

In [25]:
# Export our model to HDF5 file

nn_model.save("AlphabetSoupCharity1.h5")